<article>
  <% user_signed_in? && current_user.is_admin? %>
    <h1>Ajouter un nouveau diagnostique</h1>

    <%= render 'form' %>

    <%= link_to 'Retour', diagnostics_path %>
  <% end %>
</article>
