<article>
  <% if user_signed_in? %>
    <% if current_user.is_admin? || (current_user == @structure.user && @structure.approved == false) %>
      <h1>Modifier l'établissement</h1>

      <%= render 'form' %>

      <%= link_to 'Voir', @structure %> |
      <%= link_to 'Retour', structures_path %>
    <% end %>
  <% end %>
</article>
