<% if user_signed_in? %>
  <% if current_user.is_admin? || (current_user == @structure.user && @structure.approved != 1) %>
    <h1>Editing structure</h1>

    <%= render 'form' %>

    <%= link_to 'Show', @structure %> |
    <%= link_to 'Back', structures_path %>
  <% end %>
<% end %>
