<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @type_map.description %>
</p>

<%= link_to 'Edit', edit_type_map_path(@type_map) %> |
<%= link_to 'Back', type_maps_path %>
