<article>
  <% if user_signed_in? && current_user.is_admin? %>
    <h1>Modifier la langue</h1>

    <%= render 'form' %>

    <%= link_to 'Voir', @language %> |
    <%= link_to 'Retour', languages_path %>
  <% end %>
</article>
