<% if user_signed_in? %>
  <% if current_user.is_admin || current_user == @user %>
    <h1>Editing user</h1>

    <%= render 'form' %>

    <%= link_to 'Show', @user %> |
    <%= link_to 'Back', users_path %>
  <% end %>
<% end %>
