<article>
    <h1>Bienvenue !</h1>
    <p>Bon voilà le petit texte. Tout à fait modifiable si vous le souhaitez...</p>
    <p>Le projet Interact a débuté en janvier 2016 afin de créer des réponses numériques aux personnes ayant un Trouble du Spectre Autistique (TSA) ainsi qu'à leurs proches.
       Le site de référence met à disposition des informations récentes et scientifiquement prouvées. Ces informations sont retraitées afin d’être simplifiées et accessibles.
       Le but de ce site est de :</p>
    <ul>
        <li>Proposer des définitions claires et des explications permettant de comprendre les TSA,</li>
        <li>Mettre à disposition des parcours types afin de faciliter l’appréhension des étapes médicales comme administratives,</li>
        <li>Eclairer sur les droits et recours juridiques ouverts aux personnes ayant un TSA</li>
        <li>Et enfin de géolocaliser les établissements utiles à la bonne conduite de ces parcours (MDPH, CRA…)</li>
    </ul>
</article>