<paper-dialog id="pres-diag">
    <p id="presentation-paragraph"></p>
</paper-dialog>

<article id="parktext">
</article>

<article id="parkour">
  <div id="container"></div>
  <parkour-selector></parkour-selector>
  <parkour-diagnostiquePrecoce></parkour-diagnostiquePrecoce>
  <parkour-diagnostique></parkour-diagnostique>
</article>
