<paper-dialog id="pres-diag">
    <p id="presentation-paragraph"></p>
</paper-dialog>

<article id="parktext">
</article>

<article id="parkour">
  <div id="container"></div>
  <div id="current-parkour"><parkour-selector></parkour-selector></div>
</article>

<script>document.querySelector('parkour-selector').ready();</script>
