<dom-module id="template-trois-parkour">
  <link rel="stylesheet" href="template-trois-parkour.css" />
  <template>
        <paper-dialog with-backdrop entry-animation="scale-up-animation" charset=""utf-8
                      exit-animation="fade-out-animation" id="desc-diag">
            <h2>Description</h2>
            <p id="description-paragraph"></p>
            <p id="status"></p>
        </paper-dialog>
        <paper-dialog id="pres-diag">
            <h2>Presentation</h2>
            <p id="presentation-paragraph"></p>
        </paper-dialog>

  </template>

  <script src="template-trois-parkour.js"></script>
</dom-module>
