<% if user_signed_in? && current_user.is_admin? %>
  <h1>Editing departement</h1>

  <%= render 'form' %>

  <%= link_to 'Show', @departement %> |
  <%= link_to 'Back', departements_path %>
<% end %>
