<article>
  <% if user_signed_in? && current_user.is_admin? %>
    <p id="notice"><%= notice %></p>

    <p>
      <strong>Nom :</strong>
      <%= @departement.name %>
    </p>

    <%= link_to 'Éditer', edit_departement_path(@departement) %> |
    <%= link_to 'Retour', departements_path %>
  <% end %>
</article>
