<article>
  <h1>Nos projets</h1>

    <% @projects.each do |project| %>
      <% if project.approved == true || (user_signed_in? && (current_user.is_admin? || current_user == project.user)) %>
          <h2><%= link_to project.name, project %> <%= project.link %></h2>
          <p><%= project.description %></p>
      <% end %>
    <% end %>

  <% if user_signed_in? %>
    <%= link_to 'Proposer un project', new_project_path %>
  <% end %>
</article>
