<article>
  <% if user_signed_in? %>
    <% if current_user.is_admin? || (current_user == @paper.user && @paper.approved == false) %>
      <h1>Modifier le document</h1>

      <%= render 'form' %>

      <%= link_to 'Voir', @paper %> |
      <%= link_to 'Retour', papers_path %>
    <% end %>
  <% end %>
</article>
