<div id="ktreebouton">
</div>
<div id="ktreebouton2"></div>

<article disabled="disabled">
<div id="ktreetext"></div>
</article>

<article disabled="disabled" id="ktree">
    <div id="container"></div>
    <ktree-dys></ktree-dys>
    <ktree-mdphneed></ktree-mdphneed>
    <ktree-demarmdph></ktree-demarmdph>
    <ktree-clas></ktree-clas>
    <ktree-selector></ktree-selector>
    <ktree-diagval></ktree-diagval>
    <ktree-orgdemdiag></ktree-orgdemdiag>
    <ktree-voldemdiag></ktree-voldemdiag>
    <ktree-senso></ktree-senso>
    <ktree-evotr></ktree-evotr>
    <ktree-parcom></ktree-parcom>
    <ktree-cominter></ktree-cominter>
    <ktree-trneuropsy></ktree-trneuropsy>
    <ktree-trpsych></ktree-trpsych>
    <ktree-metabol></ktree-metabol>
    <ktree-creat></ktree-creat>
    <ktree-anoma></ktree-anoma>
    <ktree-achros></ktree-achros>
    <ktree-achromoso></ktree-achromoso>
    <ktree-anogchro></ktree-anogchro>
    <ktree-syngenassoc></ktree-syngenassoc>
    <ktree-comorbpipgec></ktree-comorbpipgec>
    <ktree-ieducom></ktree-ieducom>
    <ktree-autrneuro></ktree-autrneuro>
    <ktree-comport></ktree-comport>
    <ktree-def></ktree-def>
    <ktree-cmb></ktree-cmb>
    <ktree-cmtra></ktree-cmtra>
    <ktree-etio></ktree-etio>
    <ktree-manif></ktree-manif>
    <ktree-fonc></ktree-fonc>
    <ktree-igc></ktree-igc>
<div id="menuktree" style="height: 100%"></div>
</article>
<script>document.querySelector('ktree-selector').start();</script>
