<div id="ktreebouton">
  <button id="retourKtree">
    Revenir au début
  </button>
</div>
<article disabled="disabled">
  <div id="menuktree"></div>
  <div id="ktreetext" ></div>
</article>

<article disabled="disabled" id="ktree">
  <ktree-selector></ktree-selector>
</article>
<script>document.querySelector('ktree-selector').ready();</script>
