<%= javascript_include_tag 'https://cdn.rawgit.com/konvajs/konva/0.13.0/konva.min.js' %>
<%= html_import_tag 'application'%>

<div id="ktreetext">
</div>

<ktree-selector></ktree-selector>

<div id="ktreebouton">
  <button id="retourKtree">
    Revenir au début
  </button>
</div>
