<div id="ktreebouton">
  <button id="retourKtree">
    Revenir au début
  </button>
</div>
<article disabled="disabled">
  <div id="menuktree" class="pre-scrollable"></div>
  <div id="ktreetext"></div>
</article>

<article disabled="disabled" id="ktree">
  <div id="container"></div>
  <ktree-selector></ktree-selector>
<ktree-trneuropsy></ktree-trneuropsy>
<ktree-trpsych></ktree-trpsych>
<ktree-metabol></ktree-metabol>
<ktree-creat></ktree-creat>
<ktree-achros></ktree-achros>
<ktree-achromoso></ktree-achromoso>
<ktree-anogchro></ktree-anogchro>
<ktree-syngenassoc></ktree-syngenassoc>
<ktree-comorbpipgec></ktree-comorbpipgec>
<ktree-ieducom></ktree-ieducom>
<ktree-autrneuro></ktree-autrneuro>
<ktree-comport></ktree-comport>
<ktree-def></ktree-def>
<ktree-cmb></ktree-cmb>
<ktree-cmtra></ktree-cmtra>
<ktree-etio></ktree-etio>
<ktree-manif></ktree-manif>
<ktree-fonc></ktree-fonc>
<ktree-igc></ktree-igc>
</article>
<script>document.querySelector('ktree-selector').start();</script>
