// Place all the styles related to the Journey controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
   #pres-diag {
          position: fixed;
          bottom: 13vh;
          left: 12vw;
          background-color: #373f52;
          max-width: 30vw;
        }
    
    #presentation-paragraph {
        color: white;
        font-family: 'Roboto', sans-serif;
        font-size: 1.5em;
    }
    
    html #parktext {
        font-family: 'Roboto', sans-serif;
    }