// Place all the styles related to the tree controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#ktreebouton {
  display: none;
}

#ktree {
  padding: 0em;
}
#menuktree {

  background-color: #9AEED8;
}
#ktreetext {
  
}

.padktree {
  padding: 15px; 
}
.textktree {
  color: #373f52;
  letter-spacing: 1.2px;
}
.romanumb {
  font-size: 2em;
  color: #373f52;
}
.summary {
  padding-left: 15px;
  padding-bottom: 3px;
  padding-top: 5px;
  line-height: 3vh;
  letter-spacing: 1.5px;
  font-size: 3vh;
  color: #373f52;
}