<article>
    <h1>Auteurs</h1>
    <h2>Programmation :</h2>
        <ul>
            <li>@Adjivas : Architecture</li>
            <li>Edouard Lacombe : Module Parcours, Design</li>
            <li>Fernand Lime : Module Carte, Design</li>
            <li>Timon Prata : Arbre des Connaissances, Design</li>
            <li>Dimitri Roncoli : Module Parcours, Design</li>
        </ul>
    <h2>Contenu :</h2>
        <ul>
            <li>Margaux Sabourin : Démarches Administratives, Volet Juridique</li>
            <li>Jean Vinçot : Démarches Administratives</li>
            <li>Anita Beggiato : Médical, Démarches Administratives</li>
            <li>Hugo Peyre : Médical, Démarches Administratives</li>
            <li>Amélie Caron : Design</li>
            <li>Lucie Chauffour : Design</li>
            <li>Thomas Bourgeron : Génétique</li>
            <li>Fabienne Cazalis : Licences</li>
        </ul>
    <h2>Remerciements :</h2>
        <ul>
            <li>Stephanie Durr</li>
            <li>Anirudh Krishnakumar</li>
            <li>Angelique Bruet</li>
            <li>Daphne Quillec</li>
            <li>Frederique Ansellem</li>
            <li>Camille Benoit</li>
        </ul>
</article>