<p>Bonjour <%= @resource.email %> !</p>

<p>Votre demande de changement de votre mot de passe a bien été prise en compte. Vous pouvez y procéder via le lien suivant.</p>

<p><%= link_to 'Changer mon mot de passe', edit_password_url(@resource, reset_password_token: @token) %></p>
