<p>Bonjour <%= @resource.email %> !</p>

<p>Votre compte a été bloqué en raison d'un nombre excessif d'échec de tentatives de connexion.</p>

<p>Cliquez sur le lien suivant pour déverrouiller votre compte :</p>

<p><%= link_to 'Débloquer mon compte', unlock_url(@resource, unlock_token: @token) %></p>
