<h1>Authorrails#Author</h1>
<p>Find me in app/views/authorrails/Author.html.erb</p>
Programmation: Adjivas,  Edouard Lacombe, Fernand Lime, Timon Prata, Dimitri Roncoli,  Sadik Essaïdi.
Content/Contenu: Anita Beggiato, Thomas Bourgeron, Angelique Bruet, Fabienne Cazalis, Richard Delorme, Anirudh Krishnakumar, Hugo Peyre, Daphne Quillec, Margaux Sabourin,  Jean Vinçot.
Aknowledgements/remerciements: Frederique Ansellem,  Camille Benoit, Sylvain Chauvet, Pierre Alexi Geoffroy, Anna Maruani
