<article>
  <% if user_signed_in? && current_user.is_admin? %>
    <h1>Ajouter un nouveau type d'établissement</h1>

    <%= render 'form' %>

    <%= link_to 'Retour', juridicals_path %>
  <% end %>
</article>
