<article>
    <h1>Un peu d'histoire</h1>
    
    <iframe class="col-lg-12 col-xs-12 pull-right" src='https://cdn.knightlab.com/libs/timeline3/latest/embed/index.html?source=1aMvTia8QYiLyG1Jpc1CqIBXUZneNZPnFL095QiTdfw4&font=Default&lang=en&initial_zoom=2&height=550' width='750' height='550' frameborder='0'></iframe>
</article>